<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                Web App Maker
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <h1>Login</h1>

    <div ng-show="model.error" class="alert alert-warning">
        {{model.error}}
    </div>

    <form>
        <div class="form-group">
            <input ng-model="user.username"
                   autocorrect="off"
                   autocapitalize="off"
                   type="text"
                   required="true"
                   class="form-control"
                   placeholder="username"/>
        </div>
        <div class="form-group">
            <input ng-model="user.password"
                   autocorrect="off"
                   autocapitalize="off"
                   type="password"
                   class="form-control"
                   placeholder="password"/>
        </div>
    </form>

    <a class="btn btn-primary btn-block"
        ng-click="model.login(user)">
        Login
    </a>
    <a href="/auth/facebook" class="btn btn-fb-blue btn-block">
        <span class="fa fa-facebook"></span>
        Facebook
    </a>

    <a class="btn btn-success btn-block" href="#/register">
        Register
    </a>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom"></nav>