
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/profile/{{model.userId}}" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">
                Web App Maker - Password Settings
            </a>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>
    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>

    <form>
        <div class="form-group">
            <label for="current-pass">Current Password</label>
            <input ng-model="passList.currentPassword"
                   type="password"
                   class="form-control"
                   id="current-pass"
                   placeholder="Old Password"/>
        </div>
        <div class="form-group">
            <label for="new-pass">New Password</label>
            <input ng-model="passList.newPassword"
                   type="password"
                   class="form-control"
                   id="new-pass"
                   placeholder="New Password"/>
        </div>
        <div class="form-group">
            <label for="confirm-pass">Confirm New Password</label>
            <input ng-model="passList.confirmPassword"
                   type="password"
                   class="form-control"
                   id="confirm-pass"
                   placeholder="Confirm Password"/>
        </div>
    </form>

    <!-- Yes, this is incredibly unsafe, but it will get patched out when we get around to security
        Currently only in here to get a framework password changing mechanism in-place
    -->
    <a class="btn btn-primary btn-block"
       ng-click="model.updatePassword(passList)">
        Change Password
    </a>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a>
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>