<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                Web App Maker
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="alert alert-warning">
        <span>
            You are not authorized to view this content. If this content is yours, you can access it by logging in <a href="/assignment/index.html#/login">here</a>.
        </span>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom"></nav>