<h1>Raw HTML Widget Editor</h1>

<form>
    <div class="form-group">
        <label for="html-name">Name</label>
        <input ng-model="model.widget.name"
               type="text"
               class="form-control"
               id="html-name">
    </div>
    <div class="form-group">
        <label for="html-text">Text</label>
        <textarea ng-model="model.widget.text"
                  class="form-control"
                  id="html-text"
                  placeholder="Raw HTML goes here..."></textarea>
    </div>

    <!--<label for="html-text">Text</label>
    <div ng-model="model.widget.text"
         id="html-text"
         text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
    </div>-->

    <div class="form-group">
        <label for="html-preview">Preview</label>
        <div id="html-preview"
             ng-bind-html="model.getTrustedHtml(model.widget.text)"></div>
    </div>
</form>