<label for="textWidget-name">Name</label>
<input ng-model="model.widget.name"
       id="textWidget-name"
       class="form-control"/>

<label for="textWidget-text">Text</label>
<input ng-model="model.widget.text"
       id="textWidget-text"
       class="form-control"/>

<label for="textWidget-row">Row</label>
<input ng-model="model.widget.rows"
       id="textWidget-row"
       class="form-control" type="number"/>

<label for="textWidget-placeholder">Placeholder</label>
<input ng-model="model.widget.placeholder"
       id="textWidget-placeholder"
       class="form-control"/>

<label for="textWidget-formatted">Formatted</label>
<input ng-model="model.widget.formatted"
       id="textWidget-formatted"
       type="checkbox"/>
