<div class="container-fluid">
    <h1>Login</h1>

    <div ng-show="model.error" class="alert alert-warning">
        {{model.error}}
    </div>

    <form>
        <div class="form-group">
            <input ng-model="user.username"
                   type="text"
                   class="form-control"
                   placeholder="username"/>
        </div>
        <div class="form-group">
            <input ng-model="user.password"
                   type="password"
                   class="form-control"
                   placeholder="password"/>
        </div>
    </form>

    <a class="btn btn-primary btn-block"
        ng-click="model.login(user)">
        Login
    </a>

    <a class="btn btn-success btn-block" href="#/register">
        Register
    </a>
</div>